.message {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.user {
    align-self: flex-start;
}

.appponent {
    align-self: flex-end;
    flex-direction: row-reverse;
}

.message_avatar {
    height: 47px;
    width: 47px;
}

.message_text {
    display: block;
    position: relative;
    margin-left: 18px;
    margin-right: 18px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 24px;
    background-color: #f1f3f5;
    border-radius: 5px;
    padding: 11px 15px;
    max-width: calc(100% - 130px);
    width: fit-content;
    overflow-wrap: break-word;
    overflow-wrap: anywhere;
}

.left.message_text::before,
.right.message_text::before {
    position: absolute;
    content: "";
    border: 7px solid transparent;
    border-top: 7px solid #f1f3f5;
}

.left.message_text::before {
    left: -7px;
}

.right.message_text::before {
    right: -7px;
}

.message_empty {
    height: 47px;
    width: 47px;
    background-color: transparent;
}

.date_line {
    display: flex;
}

.date {
    font-family: Roboto;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 16px;
}

.line {
    position: relative;
    top: 12px;
    background: #dbdbdb;
    height: 1px;
    flex: 1 0 auto;
}

.line_left {
    left: -15px;
}

.line_right {
    right: -28px;
}