.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    height: 757px;
    width: 651px;
    background-image: url(../../assets/images/bg-main.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
}

.dialog_area {
    display: block;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    padding: 41px 20px 29px 15px;
    min-height: 100px;
    flex: 1 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.dialog_area__inner {
    display: flex;
    flex-direction: column;
}

.input_form {
    display: block;
    padding: 20px 41px 30px 20px;
}

.input_form__text_area {
    width: 100%;
    height: 129px;
    background: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 19px;
    font-family: "Noto Sans", sans-serif;
    padding: 10px;
    border: none;
    resize: none;
}

.input_form__btn {
    min-width: 144px;
    border-radius: 21px;
    padding: 10px 22px 7px;
    border: none;
    background-color: #0f54b9;
    box-shadow: 0px 4px 6px rgba(15, 84, 185, 0.3);
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    transition: all ease 0.3s;
    font-family: "Proxima Nova", sans-serif;
}

.input_form__btn:hover {
    letter-spacing: 1px;
    background-color: #3f7dda;
}